@import "src/colors.scss";

.header {
  display: flex;
  height: 10%;
  min-height: 3rem;
  max-height: 8vh;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
  @include setColor($paddBlueDark, $paddWhite);

  .title {
    min-width: 12rem;
    width: 10%;
    height: 100%;
  }

  .avatar {
    min-height: 2rem;
    min-width: 2rem;
    border-radius: 4rem;
    @include setColor($paddWhite, $paddBlueDark);

    svg {
      @include setColor($paddWhite, $paddBlueDark);

      * {
        @include setColor($paddWhite, $paddBlueDark);
      }
    }
  }
}

.navigation {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  min-height: 2.5rem;
  height: 8%;
  width: 100%;
  align-items: center;
  padding: 0 4%;
  @include setColor($paddBlueDark, $paddWhite);

  ul {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    height: 100%;

    li {
      height: 100%;

      .button {
        height: 100%;
        padding: 0 1.5rem;
        @include setColor($paddBlueDark, $paddWhite);

        &.active {
          @include setColor($paddWhite, $paddBlueDark);
          svg {
            @include setColor($paddWhite, $paddBlueDark);

            * {
              @include setColor($paddWhite, $paddBlueDark);
            }
          }
        }

        svg {
          @include setColor($paddBlueDark, $paddWhite);

          * {
            @include setColor($paddBlueDark, $paddWhite);
          }
        }
      }
    }
  }
}
.body {
  display: flex;
  flex-flow: column;
  max-height: 84vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @include setColor($paddWhite, $paddBlack);

  main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
